* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0a8b82;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
body header {
  background-color: #44b7b0;
  padding: 16px;
}
body header h1 {
  font: 24px, bold;
  text-align: center;
}
